@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2024 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
//  -----------------------------------------------------------------------
*@

@namespace SiemensIXBlazor.Components
@inherits IXBaseComponent

<ix-application-header id="@Id" 
                      class="@Class" 
                      style="@Style" 
                      @attributes="UserAttributes" 
                      name="@Name"
                      name-suffix="@NameSuffix"
                      company-logo="@CompanyLogo"
                      company-logo-alt="@CompanyLogoAlt"
                      app-icon="@AppIcon"
                      app-icon-alt="@AppIconAlt"
                      hide-bottom-border="@HideBottomBorder">
    @ChildContent
    @if (Secondary != null)
    {
        <div slot="secondary">
            @Secondary
        </div>
    }
</ix-application-header>
