<div style="margin-bottom: 1rem" class="@Class">
    <input @onchange="OnChange" type="checkbox" id="@Id" checked="@Checked" @bind-value:event="oninput" @bind-value="Value" />
    <label for="@Id">@Label</label>
</div>
